[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 200
insert_final_newline = true

# Avoid line-breaks for multi-line expressions
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_string-template-indent = disabled

# Disable lint warnings for Composable functions names
ktlint_function_naming_ignore_when_annotated_with = Composable

# Avoid line breaks after/before annotations
ktlint_standard_annotation = disabled